/* Global style */
table thead tr th,
table tbody tr td {
  white-space: nowrap !important;
  font-size: 13px !important;
}

/* End global style */


/* start scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(168, 168, 168, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(168, 168, 168, 0.6);
}

/* end scrollbar */